input {
  color: black!important;
}

input:-webkit-autofill {
  color: black!important;
}

.form-control {
    color: black !important;
  }


input[type="password"]:invalid {
    background-image: none !important;
}
